.DS_Store

# Terraform working data
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform inputs and plans
terraform.tfvars
*.tfvars
*.tfvars.json
*.tfvars.example
*.tfplan
plan.out
*.auto.tfvars
*.auto.tfvars.json
terraform.tfstate.backup

# Local environment files
.env
.env.*
*.pem
