site_name             = "Malkokote"
project_slug          = "malkokote-gallery"
environment           = "prod"
aws_region            = "eu-central-1"
website_base_url      = "https://www.malkokote.com"
local_callback_url    = "[http://localhost:8000/auth/callback.html]"
cognito_domain_prefix = "malkokote-gallery-prod"

auth_callback_urls = [
  "https://www.malkokote.com/auth/callback.html",
  "http://localhost:8000/auth/callback.html"
]

auth_logout_urls = [
  "https://www.malkokote.com/",
  "http://localhost:8000/"
]

gallery_public_prefix     = "public"
gallery_extra_prefix      = "extra"

# First apply with a placeholder, then replace it with the real CloudFront domain output and apply again.
gallery_public_base_url = "https://replace-after-first-apply.cloudfront.net"
gallery_cache_version   = "v1"
gallery_public_manifest_cache_ttl_seconds = 60
gallery_signed_url_ttl_seconds = 31536000

gallery_api_allowed_origins = [
  "https://www.malkokote.com",
  "http://localhost:8000"
]

price_class                                 = "PriceClass_100"

tags = {
  Site  = "malkokote.com"
  Stack = "gallery"
}
